*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

a[href^=tel] {
  text-decoration: inherit;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.main .main-container, .header-container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 86px;
  min-height: 86px;
  background-color: #FFFFFF;
  align-items: center;
}
.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main {
  flex-grow: 1;
}
.main .main-container {
  display: flex;
  justify-content: space-between;
}
.main .categories {
  width: 300px;
  background-color: #f6f6f7;
  height: 300px;
}
.main .books {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.main .books-grid {
  padding: 0 5px 0 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.main .books-grid .product-card {
  background-color: aqua;
  width: 224px;
  max-height: 350px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.main .books-grid .product-card__img-div {
  height: 100%;
  max-height: 200px;
  text-align: center;
}
.main .books-grid .product-card__main {
  padding: 0 10px;
}
.main .books-grid .product-card__text {
  max-height: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .books-grid .product-card__author {
  font-size: 14px;
}
.main .books-grid .product-card__title {
  font-size: 16px;
}
.main .books-grid .product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .books-grid .product-card__price {
  font-size: 14px;
}
.main .btn-div {
  width: 146px;
  margin: 0 auto;
  padding: 20px 12px;
}

.catalog {
  padding: 10px 15px 0 15px;
}

.catalog-ul {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog-ul a.active {
  background-color: blueviolet;
}

.pagination {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer {
  height: 86px;
  min-height: 86px;
  background-color: blue;
}

.product-container {
  max-width: 860px;
  height: 100%;
  dmargin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-info {
  background-color: beige;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}
.product-info__back {
  background: transparent;
  position: absolute;
  top: 0;
  left: -80px;
  font-size: 14px;
  color: teal;
  transition: all 0.25s;
}
.product-info__back:hover {
  scale: 1.2;
}
.product-info__left {
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-color: aquamarine;
  padding: 20px;
  text-align: center;
}
.product-info__left img {
  max-width: 407px;
  max-height: 640px;
}
.product-info__right {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-info__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-info__title {
  font-size: 18px;
}
.product-info__description {
  max-height: 100%;
  background-color: yellow;
  font-size: 14px;
}
.product-info__to-cart {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 30px 0;
}
.product-info__qty {
  width: 55px;
  height: 25px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
